/****accordion****/
#accordion {
	padding: 0;
	margin: 0 0px 48px 0;
	border: 1px solid #e6e6e6;
}
#accordion>ul>li:first-child>a {
	margin-top: 0;
}
#accordion>ul>li {
	padding-bottom: 14px;
	border: 1px solid #e8e8e8;
}
#accordion h5 a {
	border-bottom: 1px solid #f0f0f0;
	margin: 0px 0px 0px 0px;
	background: url('../images/accrod_title.png') right -191px no-repeat;
	text-transform: uppercase;
	color: #141414;
	font:bold 11px/16px Arial, sans-serif;
	display: block;
	padding-top: 18px;
	padding-bottom: 15px;
}
#accordion .ui-accordion-content {
	border: 1px solid #e6e6e6;
	border-top: none;
	border-left: none;
	padding: 15px 0px 9px 0px;
	background: #f9f9f9;
	width: 100%;
	margin-left: 0px;
}
#accordion h5.ui-state-active a {
	background-position: right 13px;
}
#accordion h5 a:hover {
	color: #e47e6b;
	text-decoration: none !important;
}
#accordion .ui-accordion-content a:hover {
	text-decoration: underline;
	color: #e47e6b;
}
#accordion .ui-accordion-content p {
	padding-top: 10px;
	padding-left: 20px;
	color: #787878;
}
#accordion .ui-accordion-content p a{
	color: #e47e6b;
	text-decoration: underline;
	font-size: 13px;
}
#accordion .ui-accordion-content p a:hover{
	color: #000;
}
h5 {
	width: 100%;
	/*border: 1px solid #e6e6e6;*/
	width: 100%;
}
h5 a {
	padding-left: 19px;
}
h5.ui-state-active {
	background: #f9f9f9 !important;
	/*border: 1px solid #e6e6e6;*/
}
