.p-product {
    &-top {
        &-row {
            display: flex;
            flex-wrap: wrap;
            margin-left: -20px;
            margin-right: -20px;
            @include desktop-little{
                margin: 0;
            }
            //@include desktop-block {
            //    margin: 0;
            //}
        }
    }
    &-tabs {
        padding-top: 100px;
        @include phone {
            padding-top: 40px;
        }
        &-block{
            position: relative;
        }
        &-wrap {

        }
        &--anchor {
            position: absolute;
            left: 0;
            top: 0;
            height: 1px;
            width: 100%;
            background-color: transparent;
            z-index: 100;
        }
        .tabs {
            &-head {
                background-color: rgba(255, 255, 255, 1);
                //border-radius: 5px;
                //overflow: hidden;
                z-index: 50;
                &-wrap {
                    display: flex;
                    overflow-x: auto;
                    padding-bottom: 10px;
                    width: 100%;
                }
                &-item {
                    text-transform: uppercase;
                    position: relative;
                    font-size: 16px;
                    font-weight: var(--font-medium);
                    display: block;
                    margin-right: pxVw(54, 1920);
                    color: var(--color-grey-5);
                    text-indent: 10px;
                    cursor: pointer;
                    white-space: nowrap;
                    @include desktop-note-big {
                        margin-right: pxVw(32, 1440);
                    }
                    @include desktop-block {
                        margin-right: 12px;
                        font-size: 14px;
                    }
                    &:last-of-type {
                        margin-right: 0;
                    }
                    &.active {
                        color: var(--color-orange-1);
                        &:after {
                            position: absolute;
                            bottom: -4px;
                            left: 0;
                            content: '';
                            display: flex;
                            background-color: var(--color-orange-1);
                            height: 2px;
                            width: 100%;
                            @include desktop-block {
                                bottom: -2px;
                            }
                        }
                    }
                }
            }
            &-content {
                padding-top: 35px;
                &-item {
                    opacity: 0;
                    visibility: hidden;
                    height: 0;
                    overflow: hidden;
                    &.active {
                        opacity: 1;
                        visibility: visible;
                        height: auto;
                        overflow: visible;
                    }
                }
                &-h2 {
                    font-size: 22px;
                    padding-block: 30px;
                    text-align: center;
                }
            }
        }
        .review {
            &-wrap {
                display: flex;
                @include tablet {
                    flex-wrap: wrap;
                }
            }
            &-form {
                flex: 0 0 30%;
                max-width: 350px;
                @include desktop-note-big {
                    flex: 0 0 40%;
                }
                @include desktop-block {
                    flex: 0 0 50%;
                }
                @include tablet {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                &-title {
                    text-align: center;
                    &--title {
                        font-weight: var(--font-medium);
                        text-transform: uppercase;
                    }
                }
                &-block {
                    border: 2px dashed var(--color-orange-1);
                    border-radius: 20px;
                    padding: 10px;
                    .form {
                        &-block {
                            padding-top: 30px;
                        }
                        &-label {
                            font-size: 12px;
                            font-weight: var(--font-medium);
                        }
                        &-item {
                            &-pair {
                                &-rating {
                                    display: flex;
                                    justify-content: center;
                                }
                                &-comment {
                                    padding-top: 10px;
                                }
                                &-actions {
                                    display: flex;
                                    justify-content: center;
                                }
                            }
                            textarea {
                                height: 150px;
                                width: 100%;
                            }
                        }
                        &-actions {
                            display: flex;
                            justify-content: center;
                        }
                        &-desc {
                            padding-top: 20px;
                            &--desc {
                                text-transform: uppercase;
                                font-size: 12px;
                                a {
                                    color: var(--color-orange-1);
                                }
                            }
                        }
                    }
                }
            }
            &-desc {
                padding-left: pxVw(45, 1920);
                @include desktop-block {
                    padding-left: pxVw(20, 1024);
                }
                @include tablet {
                    flex: 0 0 100%;
                    max-width: 100%;
                    padding-left: 0;
                    padding-top: 30px;
                }
            }
            &-list {}
            &-item {
                padding-top: 20px;
                padding-bottom: 15px;
                border-bottom: 1px solid var(--color-black);
                min-height: 200px;
                &-wrap {
                    display: flex;
                    justify-content: space-between;
                    @include phone {
                        flex-wrap: wrap;
                    }
                }
                &-info {
                    flex: 0 0 120px;
                    max-width: 120px;
                    text-align: center;
                    @include phone {
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                }
                &-rating {
                    display: flex;
                    justify-content: center;
                    .rating {}
                }
                &-name {
                    padding-top: 10px;
                    &--name {
                        text-transform: uppercase;
                    }
                }
                &-date {
                    padding-top: 5px;
                    &--date {}
                }
                &-desc {
                    padding-left: pxVw(50, 1920);
                    @include phone {
                        flex: 0 0 100%;
                        max-width: 100%;
                        padding-left: 0;
                        padding-top: 10px;
                    }
                }
                &-form {
                    &-title {
                        &--title {
                            font-weight: var(--font-medium);
                        }
                    }
                    .form-block {
                        padding-top: 30px;
                    }
                    .rating {
                        li {}
                        svg {}
                    }
                }
            }
            &-feedback {
                padding-top: 10px;
                padding-left: 50px;
                &-wrap {
                    border-left: 1px solid var(--color-black);
                    padding-left: 25px;
                }
                &-name {
                    font-style: italic;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: var(--font-light);
                }
                &-desc {
                    font-style: italic;
                    font-weight: var(--font-light);
                }
            }
        }
    }
    .product {
        &-img {
            flex: 0 0 50%;
            max-width: 540px;
            padding-left: 20px;
            padding-right: 20px;
            @include desktop-little{
                padding-left: 0;
            }
            @include desktop-block {
                padding-left: 0;
                padding-right: 0;
                max-width: 50%;
            }
            @include middle-tablet {
                flex: 0 0 100%;
                max-width: 100%;
            }
            &-wrap {
                width: 100%;
                border-radius: 5px;
                box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05);
                z-index: 1;
            }
            &-slider {
                width: 100%;
            }
            &-main {
                position: relative;
                @include phone{
                    height: 275px;
                }
                &-slider {}
                &-item {
                    height: 500px;
                    @include phone{
                        height: 275px;
                    }
                    .img {
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                    }
                }
                .slick-arrow {
                    width: 40px;
                    height: 40px;
                    &.slick-prev {}
                    &.slick-next {}
                }
            }
            &-prev {
                background: rgba(255, 90, 31, 0.03);
                padding: 16px 10px 14px;
                @include middle-tablet {
                    display: none;
                }
                //@include phone {
                //    display: none;
                //}
                &-list {
                    display: flex;
                    .slick{
                        &-list{
                            display: flex;
                            width: 100%;
                        }
                        &-track{
                            display: flex;
                            width: 100% !important;
                            justify-content: flex-start;
                        }
                        &-slide{
                            width: 20%;
                        }
                    }
                }
                &-block {
                    padding-left: 12px;
                    padding-right: 12px;
                }
                &-item {
                    border: 0.5px dashed var(--color-orange-1);
                    border-radius: 2px;
                    width: 72px;
                    height: 72px;
                    cursor: pointer;
                    .img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                    &.video {
                        position: relative;
                        &:before {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background-image: url('/../icons/icon-play-plyr.svg');
                            background-repeat: no-repeat;
                            background-attachment: scroll;
                            background-position: center center;
                        }
                        &:hover {}
                    }
                }
                .slick-arrow {
                    width: 30px;
                    height: 30px;
                    &.slick-prev {
                        left: -10px;
                        &:before {
                            opacity: 0.4;
                        }
                        &:hover {
                            &:before {
                                opacity: 0.6;
                            }
                        }
                    }
                    &.slick-next {
                        right: -10px;
                        &:before {
                            opacity: 0.4;
                        }
                        &:hover {
                            &:before {
                                opacity: 0.6;
                            }
                        }
                    }
                }
            }
        }
        &-labels {
            position: absolute;
            top: 13px;
            left: 17px;
            z-index: 2;
            &-label {
                &--label {}
            }
        }
        &-info {
            flex: 1;
            padding-left: 20px;
            padding-right: 20px;
            @include desktop-little{
                padding-right: 0;
            }
            @include desktop-block {
                padding-left: 20px;
                padding-right: 0;
            }
            @include middle-tablet {
                flex: 0 0 100%;
                max-width: 100%;
                padding-top: 40px;
                padding-left: 0;
            }
            &-wrap {}
        }
        &-title {
            &--title {
                font-size: 24px;
                text-transform: uppercase;
                font-weight: var(--font-medium);
            }
        }
        &-top {
            padding-top: 30px;
            &-wrap {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            &-left {
                padding-right: 20px;
                flex: 1;
                @include desktop-block {
                    padding-right: 0;
                }
            }
        }
        &-benefits {
            flex: 0 0 40%;
            max-width: 245px;
            @include desktop-note-big {
                max-width: 190px;
            }
            @include desktop-block {
                display: none;
            }
            &-wrap {
                border: 2px dashed var(--color-orange-1);
                border-radius: 20px;
                padding: 14px;
            }
            .item {
                padding-top: 24px;
                max-width: 194px;
                margin: 0 auto;
                &:first-of-type {
                    padding-top: 0;
                }
                &-img {
                    display: flex;
                    justify-content: center;
                    &-block {
                        width: 48px;
                        height: 48px;
                        display: flex;
                        //@include phone{
                        //    width: 36px;
                        //    height: 36px;
                        //}
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
                &-text {
                    text-align: center;
                    padding-top: 10px;
                    @include phone {
                        max-width: 115px;
                        margin: 0 auto;
                    }
                    &--text {
                        font-size: 14px;
                        font-weight: var(--font-medium);
                        line-height: 120%;
                        @include phone {
                            font-size: 12px;
                        }
                    }
                }
            }
            .benefits {
                padding-top: 30px;
                padding-bottom: 40px;
                &-block {
                    border: 2px dashed var(--color-orange-1);
                    border-radius: 20px;
                    padding: 34px 45px;
                    //@include desktop-block{
                    //    padding: 30px;
                    //}
                    //@include phone{
                    //    padding: 20px;
                    //    border: 0 none;
                    //}
                }
            }
        }
        &-characteristic {
            .label {
                font-size: 14px;
                padding-right: 5px;
            }
            .item {
                display: flex;
                padding-top: 10px;
                &-text {
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: var(--font-medium);
                    &--link {
                        color: var(--color-orange-1);
                        text-transform: uppercase;
                        font-weight: var(--font-medium);
                        text-decoration: underline;
                    }
                }
                &:first-of-type {
                    padding-top: 0;
                }
            }
            //.guarantee{
            //     &-text{
            //         font-size: 14px;
            //         text-transform: uppercase;
            //         font-weight: var(--font-medium);
            //         &--link{
            //             color: var(--color-orange-1);
            //             text-transform: uppercase;
            //             font-weight: var(--font-medium);
            //             text-decoration: underline;
            //         }
            //     }
            //}
            // .manufacturer{
            //     &-text{
            //         font-size: 14px;
            //         text-transform: uppercase;
            //         font-weight: var(--font-medium);                }
            // }
            .availability {
                padding-top: 10px;
                &-text {
                    font-size: 14px;
                    &.green {
                        color: var(--color-green-2);
                    }
                    &.red {
                        color: var(--color-red);
                    }
                }
            }
        }
        &-banks {
            padding-top: 20px;
            &-wrap {
                display: flex;
                @include phone {
                    flex-wrap: wrap;
                }
            }
            .item {
                &-bank {
                    @include phone {
                        flex: 0 0 100%;
                        max-width: 100%;
                        justify-content: center;
                        display: flex;
                    }
                    &:first-of-type {
                        padding-right: pxVw(36, 1920);
                        @include phone {
                            padding-right: 0;
                            padding-bottom: 25px;
                        }
                    }
                    &-wrap {
                        display: flex;
                        align-items: center;
                        @include phone {
                            max-width: 230px;
                            width: 100%;
                        }
                    }
                    &-icon {
                        .img {}
                    }
                    &-text {
                        padding-left: 5px;
                        font-size: 16px;
                        font-weight: var(--font-medium);
                        @include phone {
                            padding-left: 10px;
                        }
                    }
                }
            }
        }
        &-review {
            padding-top: 40px;
            @include phone {
                display: none;
            }
            &-wrap {
                display: flex;
            }
            &-review {
                padding-left: 30px;
                &--link {
                    font-size: 14px;
                    font-weight: var(--font-medium);
                    color: var(--color-orange-1);
                    text-transform: uppercase;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        &-social {
            padding-top: 15px;
            max-width: 400px;
            @include phone {
                display: none;
            }
            &-wrap {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .social {
                &-item {
                    padding-right: 10px;
                }
                &-link {
                    width: 32px;
                    height: 32px;
                    img {
                        object-fit: contain;
                        width: 100%;
                        height: 100%;
                    }
                }
                &-list {
                    display: flex;
                }
                &-heart {
                    display: inline-flex;
                    align-items: center;
                    max-width: 175px;
                    width: 100%;
                    &-icon {
                        width: 24px;
                        height: 27px;
                        flex: 0 0 24px;
                        img {
                            object-fit: contain;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    &-text {
                        font-size: 14px;
                        padding-left: 12px;
                    }
                    &-link {
                        font-size: 14px;
                        color: var(--color-orange-1);
                        text-transform: uppercase;
                        text-decoration: underline;
                    }
                }
            }
        }
        &-action {
            padding-top: 15px;
            @include phone {
                display: none;
            }
            &--action {
                a {
                    color: var(--color-orange-1);
                    text-transform: uppercase;
                }
            }
        }
        &-benefits {
            &-wrap {}
            .benefits {
                &-col {
                    padding-top: 24px;
                    &:first-of-type {
                        padding-top: 0;
                    }
                }
            }
            .item {
                &-img {
                    &-block {}
                }
                img {}
                &-text {
                    &--text {}
                }
            }
        }
        &-bottom {
            padding-top: 0;
            padding-right: pxVw(40, 1920);
            @include desktop-note-big {
                padding-right: 0;
            }
            @include phone {
                padding-top: 40px;
            }
            &-wrap {
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: flex-start;
                @include phone {
                    flex-wrap: wrap;
                }
            }
        }
        &-gift {
            display: flex;
            align-items: center;
            @include phone {
                order: -1;
            }
            &-plus {
                width: 64px;
                height: 64px;
                @include phone {
                    display: none;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            &-block {
                padding-left: pxVw(35, 1920);
                display: flex;
                align-items: center;
            }
            .gift {
                &-icon {
                    flex: 0 0 48px;
                    height: 48px;
                    max-width: 48px;
                    .img {}
                }
                &-desc {
                    padding-left: 7px;
                    &-link {
                        &--link {
                            text-decoration: underline;
                            color: var(--color-orange-1);
                            font-weight: var(--font-medium);
                        }
                    }
                    &-text {
                        font-size: 14px;
                        font-weight: var(--font-medium);
                    }
                }
            }
        }
        &-options {
            padding-top: 12px;
            flex: 0 0 40%;
            @include phone {
                order: 1;
                flex: 0 0 100%;
            }
        }
        &-bonus {
            &--bonus {
                font-size: 14px;
            }
        }
        &-price {
            padding-top: 12px;
            &-old {
                @include phone {
                    padding-top: 12px;
                }
                &--old {
                    font-size: 24px;
                    font-weight: var(--font-medium);
                    @include desktop-block {}
                }
            }
            &-new {
                padding-top: 2px;
                &--new {
                    font-size: 36px;
                    font-weight: var(--font-medium);
                }
            }
        }
        &-btn {
            @include phone {
                padding-top: 12px;
                text-align: center;
            }
            &-cart {
                padding-top: 7px;
                @include phone {
                    padding-top: 0;
                }
            }
            &-order {
                padding-top: 10px;
                @include phone {
                    padding-top: 15px;
                }
            }
            .btn {
                max-width: 167px;
                @include phone {
                    max-width: 150px;
                    font-size: 14px;
                }
            }
        }
    }
}
:root{
    --plyr-video-background:#ffffff;
}
.plyr {
    &__control--overlaid {
        background: var(--color-white)
    }
    //video{
    //    height: auto;
    //}
    &--video {
        height: 100%;
        .plyr {
            &__control {
                svg {
                    fill: var(--color-orange-1);
                }
                &:hover {
                    background: var(--color-orange-1);
                    color: var(--color-orange-1);
                    svg {
                        fill: var(--color-white);
                    }
                }
                &.plyr__tab-focus {
                    background: var(--color-grey);
                    color: #fff;
                    svg {
                        fill: var(--color-white);
                    }
                }
            }
            &__controls {
                background: transparent;
            }
        }
    }
    &__controls {
        .plyr {
            &__controls {
                &__item {
                    &.plyr__time {
                        color: var(--color-green-2);
                    }
                }
            }
            &__progress input[type=range] {
                color: var(--color-green-2);
            }
            &__progress__buffer {
                background-color: var( --color-grey-5);
                opacity: 0.5;
            }
        }
    }
    &__poster {
        background-color: var(--color-white);
        height: calc(100% - 57px);
    }
    &__video-wrapper{
        padding-bottom: 57px;
    }
    &--full-ui input[type=range] {
        //background: var(--color-grey);
    }

}
iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}
